* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #0a0a23;
    color: white;
    font-family: 'Castoro Titling', serif;

}

h1{
    text-align: center;
    margin: 20px auto;
    max-width: 350px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-items: center; align-items: center;
}

.input_box{
    background-color: #3b3b4f;
    color:#f5f6f7;
    border: 3px solid #f5f6f7;
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: auto ;
    
}